<% @users.each do |user| %>
<p> <%= link_to user.uid, user.pass %>
 <%= link_to '削除', "users/#{user.id}", method: :delete %>
 <%= link_to '表示', "users/#{user.id}" %>
 <%= link_to '編集', "users/#{user.id}/edit" %>
</p>
<% end %>
<p><%= link_to '新規追加', 'users/new' %></p>
